<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/add-process}" th:object="${bank}" method="post">

    <label>Bank name:</label>
    <input type="text" th:field="*{bankName}"/>
    <br/>
    <label>Bank account:</label>
    <input type="text" th:field="*{bankAccount}"/>
    <br/>
    <label>User name:</label>
    <input type="text" th:field="*{userName}"/>
    <br/>
    <input type="submit" value="ADD"/>

</form>


</body>
</html>